body{
	background-image: url('darkgreenbg.png');
	background-position: center;
	width:100vw;
	margin:0px;
}
#top{
	height:78px;
}
#top-content{
	width:940px;
	margin:auto;
	text-align:right;
	line-height:78px;
	font-family: Tahoma, sans-serif;
}
#adventure-link{
	display:inline;
	width:400px;
}
#adventure-link .text{
	color: #a7b29b;
	text-decoration: none;
	font-size: 9pt;
	margin:0px 20px;
}
#adventure-link .text img{
	margin:0px 5px;
}
#adventure-link a:hover{
	color: white;
	text-decoration: none;
}
#adventure-link img{
	margin:20px 2px -10px;
	display:inline;
}
#header{
	background-image: url('tanbg.png');
	height:180px;
	width:100vw;
}
#header-content{
	margin:auto;
	padding:40px 0px;
	width:980px;
	line-height: 180px;
}
#header-content #header-image{
	width:368px;
	height:107px;
	display:inline;
	float:left;
}
#header-content #header-links{
	float:left;
	line-height: 180px;
	margin-top: -40px;
	margin-left: 50px;
}
#header-links a{
	text-decoration: none;
	margin:10px;
	font-family:Ubuntu, sans-serif;
	font-size: 14pt;
	color: #675538;
}
#header-links #about{
	color: #516d21;
}
#header-links a:hover{
	color: #516d21;
}
#header-links #contact:after{
	content: '\25bc';
	font-size: 0.7em;
	padding-left: 0.5em;
}

#footer{
	background-image: url('tanbg.png');
	height:250px;
	margin:40px 0px;
}
#footer #footer-content{
	width:980px;
	height:92%;
	padding:10px 20px;
	margin:auto;
	vertical-align: center;
}
#footer #address-container{
	font-family: Tahoma, sans-serif;
	margin:40px 0px 10px;
	color:#675538;
}
#footer #address-container a{
	color: #675538;
	text-decoration: none;
}
#footer #address-container a:hover{
	color: green;
	text-decoration: underline;
}
#staff-login{
	float:right;
	margin-top: -20px;
}
#creator{
	text-align: right;
	margin-top: 80px;
	font-size: 12px;
	color: #675538;

}
#creator a{
	color: #675538;
	text-decoration: none;
}
#creator a:hover{
	color:#516d21;
}

#body-wrapper{
	/*margin-top: 30px;
    margin-bottom: 30px;*/
    padding: 20px;
    background-color: #ffffff;
    margin: 30px auto;
    width: 980px;
    height: 90vh;
}

#body-content{
	position: relative;
}
.text-body{
	float: left;
	width: 690px;
	position: relative;
}

.info{
	float: left;
	border-top: 1px solid;
}

#about-image{
	margin-top: 20px;

}

#side-bar{
	float: right;
}













